@font-face {
    font-family: 'DMSans-Bold';
    src: url('../fonts/DMSans-Bold.ttf') format('woff'); 
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url('../fonts/DMSans-Regular.ttf') format('woff'); 
}

@font-face { 
    font-family: 'Inter-ExtraBold';
    src: url('../fonts/Inter-Variable.ttf') format('woff');
    font-weight: 800; 
}

@font-face { 
    font-family: 'DMSans-MediumItalic'; 
    src: url('../fonts/DMSans-MediumItalic.ttf') format('woff'); 
}

@font-face { 
    font-family: 'DMSans-Medium'; 
    src: url('../fonts/DMSans-Medium.ttf') format('woff'); 
}


// Fonts
$f-1: 'DMSans-Bold', sans-serif;
$f-2: 'DMSans-Regular', sans-serif;
$f-3: 'Inter-ExtraBold', sans-serif;
$f-4: 'DMSans-MediumItalic', 'sans-serif'; 
$f-5: 'DMSans-Medium', 'sans-serif'; 

// Font sizes
$s-h1: 67.3px; 
$s-h2: 36px; 
$s-h3: 23.99px; 
$s-p: 18px; 
$s-a: 18px; 
$s-p2: 13.5px; 

// Neutral colors
$neutral-50: #FFFFFF; 
$neutral-100: #AEAEAE; 
$neutral-150: #414141; 
$neutral-200: #151515; 

// Primary colors
$primary-50: #1C6590;
