// Font declarations
@font-face {
    font-family: 'SpaceGrotesk-SemiBold';
    src: url('../fonts/SpaceGrotesk-SemiBold.ttf') format('woff'); 
}

@font-face {
    font-family: 'SpaceGrotesk-Regular';
    src: url('../fonts/SpaceGrotesk-Regular.ttf') format('woff'); 
}

@font-face { 
    font-family: 'Archivo-Black';
    src: url('../fonts/Archivo-Black.ttf') format('woff');
    font-weight: 800; 
}

@font-face { 
    font-family: 'SpaceGrotesk-Medium'; 
    src: url('../fonts/SpaceGrotesk-Medium.ttf') format('woff'); 
}

// Fonts
$f-1: 'SpaceGrotesk-SemiBold', sans-serif;
$f-2: 'SpaceGrotesk-Regular', sans-serif;
$f-3: 'Archivo-Black', sans-serif;
$f-5: 'SpaceGrotesk-Medium', sans-serif; 

// Font sizes
$s-h1: 75.76px; 
$s-h2: 42.63px;
$s-h3: 31.98px; 
$s-h4: 23.99px;
$s-p: 18px; 
$s-a: 18px; 
$s-p2: 13.5px; 

// Neutral colors
$neutral-50: #ffffff; 
$neutral-100: #A4ACB4; 
$neutral-150: #25272b;
$neutral-200: #161A1E; 

// Primary colors
$primary-50: #1C6590;

// Media queries
$query-50: 1350px;
$query-100: 750px;

// Screen widths
$width-50: 1600px;
$width-100: 1456px; // 18 rems less than outer
$width-150: 1026px; // Arbitrarily choosen for super center in landing page
$width-200: 720px; // Arbitarily choosen for super super center in service page
