.services__content__image { 
   background: url('https://mir-s3-cdn-cf.behance.net/project_modules/disp/44553921624393.56306275cd330.gif');
   background-size: cover; 
   height: 12rem;
}

.services__content__transition { 
    width: 100%;
    height: 10rem;
   background: linear-gradient(0deg, #151B20 0%, rgba(19, 22, 24, 0) 100%);
    top: 2rem;
    position: absolute; 
    left: 0;
    z-index: 10;
}

.content__container {
     background: radial-gradient(50% 50% at 50% 50%, #132027 0%, #161A1E 100%);
}
.services__container { 
    padding: 4rem 2rem; 
    display: flex; 
    justify-content: center;
    .services { 
        width: calc(1400px);  // Was 32
        display: flex; 
        flex-direction: column; 
    }
}

@media only screen and (max-width: 1350px) { 
    .services {
        align-items: center;
    }

}
@media only screen and (max-width: 750px) { 
    .services__container {
        padding-left: 1rem; 
        padding-right: 1rem; 
    }
}
